/* Basic page styles */

body {
    background-color: #F7931D;
}

h3 {
    text-align: center;

}

/* Form styles */

div.form-group {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 20px;
}

input.submitButton {
    padding-left: 250px;
    padding-right: 250px;
}

textarea.form-control {
    resize: none;
    background-color: #04133E;
    color: white;
}

.submitButton {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 20px;
}